

*.so
**/__pycache__
.vscode*/
build/
# data
dm*.csv
#**/data/
# MODGEN example code
**/Chapter*/ModgenExample
# bulk data
examples/people_multi/data
.venv*/
**/ipch/**
.eggs/
*.egg-info/
junk
dist/*
stubs/

test-coverage/
.env
# osmnx cache
cache/
.*_cache/

