

src/**/*.o
src/**/*.d
src/**/*.so

**/__pycache__

build/
node_modules/

# binaries
neworder
neworder_mpi
testharness
testharness_mpi

# data
dm*.csv
#**/data/

# MODGEN example code
**/Chapter*/ModgenExample
# bulk data
examples/people_multi/data

.venv/
**/ipch/**

.eggs/
*.egg-info/
