# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and test

on:
  push:
    tags: '**'
  pull_request:
    branches: [ main ]
  schedule:
    # 5:00 every saturday
    - cron:  '0 5 * * SAT'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - name: "pip: Python ${{ matrix.python-version }} / ${{ matrix.os }}"
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Build
      run: |
        python -m pip install .[geospatial,dev]
    - name: Lint with ruff
      run: |
        ruff check
        mypy neworder
    - name: Test with pytest
      run: |
        python -m pytest
