# test in parallel (MPI) mode
name: Parallel (MPI)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: neworder (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Install
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y openmpi-bin
      - name: Build
        run: uv sync --dev --extra parallel
      - name: Test with pytest
        run: |
          mpiexec -n 2 pytest -s
